@{
    ViewBag.Title = "Template Creation";
}
<h2>Template Creation</h2>
<h3>Created your template below</h3>

<form action="">
    <input type="checkbox" name="Input" value="Title"> Title<br>
    <input type="checkbox" name="Input" value="TextBox"> TextBox1<br>
    <input type="checkbox" name="Input" value="TextBox"> TextBox2<br>
    <input type="checkbox" name="Input" value="TextBox"> TextBox3<br>
    <input type="checkbox" name="Input" value="TextBox"> TextBox4<br>
    <input type="checkbox" name="Input" value="TextBox"> Description<br>
    <input type="checkbox" name="Input" value="TextBox"> Reporter<br>
    <input type="checkbox" name="Input" value="TextBox"> Date<br>
    <input type="checkbox" name="Input" value="TextBox"> Priority<br>
</form>
<button type="submit" value="Create Template" >Create Template</button> 