@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reporting System</h1>
    <h2>This application will allow users to create, store, access and delete reports. The system was built using MVC ASP.Net and an SQL database.</h2>
    <p class="lead"></p>
    <p><a href="http://Ideagen.com" class="btn btn-primary btn-large">About Ideagen &raquo;</a></p>
</div>
